body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

.navbar {
    margin-bottom: 20px;
}

header {
    margin-top: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007bff;
}

.project {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #343a40;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Animasi */
.fade-in {
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.bg-image {
    /* The image used */
    background-image: url("../image/bg1.jpg"); /* Ganti dengan gambar latar belakang Anda */
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed; /* Fixed position to cover the entire background */
    z-index: -1; /* Behind other content */
}

.bg-gradient {
    background: rgba(0, 0, 0, 0.5); /* Gradasi hitam dengan transparansi */
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0; /* Just above the background image */
}

.container {
    position: relative; /* To position content above the gradient */
    z-index: 1; /* Ensure content is above the gradient */
}